body{
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 0;
}

.container{
    background: hsl(212, 45%, 89%);
    width: 100%;
    margin: auto;
    height: 100vh;
    display: grid;
    place-content: center;
}
.qr-container{
    width: 45%;
    background: #fff;
    padding: 1rem;
    margin: auto;
    border-radius: 10px;
}
.img-container{
    width: 100%;
}

.image{
    border-radius: 10px;
    width: 100%;
}
.body-container{
    text-align: center;
    margin-top: 1rem;
}

.body-title{
    font-weight: 700;
    font-size: .8rem;
    text-wrap: balance;
    color: hsl(218, 44%, 22%);
}
.body-text{
    color: hsl(220, 15%, 55%);
    margin-top: .5rem;
    font-size: 15px;
}

@media (max-width:  375px){
    .qr-container{
        width: 70%;
    }
}